.banner-wrapper{
background-color: #f6f7ff;
}
.comprehensive-support-card {
    border-radius: 16px;
    border: 1px solid #d7d7d7;
    background: #f5fcff;
    padding: 24px;
    height: 100%;
}
 .small-title {
    color: #1d1a33;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}
.py-60 {
    padding-block: clamp(32px, 3.15vw, 60px);
}